In [1]:
# 조건문

# 0과 1 사이의 난수를 생성해서 x에 할당
x <- runif(1)
print(x)

# x가 0보다 크면 절댓값을 화면에 출력
if (x > 0) print(abs(x))

# x가 0.5보다 작으면 1 - x를 출력 아니면 x를 출력
if (x < 0.5) print(1 - x) else print(x)

# 위와 동일
ifelse(x < 0.5, 1 - x, x)

[1] 0.275708
[1] 0.275708
[1] 0.724292

[1] 0.724292

In [4]:
# 조건문
x <- 11
print(x)

# x가 짝수이면 출력
if (x %% 2 == 0) print("짝수")

# 짝수, 홀수 출력
if (x %% 2 == 0) print("짝수") else print("홀수")

# 위와 동일
# ifelse(조건식, true일 때, false일 때)
ifelse(x %% 2 == 0, "짝수", "홀수")

[1] 11
[1] "홀수"

[1] "홀수"

In [2]:
a <- -9
if (a %% 2 == 0) {
  print(a)
  print("짝수입니다.")
  print(abs(a))
} else {
  print(a)
  print("홀수입니다.")
  print(abs(a))
}

[1] -9
[1] "홀수입니다."
[1] 9

In [3]:
point <- 95

# 정수 몫
grade <- point %/% 10
print(grade)

# as.character(): 숫자를 문자로
# as.numeric()
# as.logical()
# swtich(조건식, 조건 1, 조건 2, 조건 3, 그 외의 조건)
switch(
  as.character(grade),
  "10" = print("A"),
  "9" = print("A"),
  "8" = print("B"),
  "7" = print("C"),
  "6" = print("D"),
  print("F")
)

[1] 9
[1] "A"

In [13]:
sum1 <- 0

# 1부터 10까지 1씩 증가
# for(개별값 in 집합변수)
for (i in seq(1, 100, by = 2)) sum1 <- sum1 + i
sum1

[1] 2500

In [17]:
a <- 10
# print("a =" + a)    
paste("a =", a)       # 공백문자로 연결됨
cat("a=", a)          # 줄 바꿈을 하지 않음
# cat("a=", a, "\n")  # 줄 바꿈 추가
print(a)

[1] "a = 10"

a= 10[1] 10

In [18]:
dan <- 3

# cat(): 연결함수, 줄 바꿈을 하지 않음
for (i in seq(1, 10)) {
  cat(dan, "x", i, "=", dan * i, "\n")
  # print(paste(dan, "x", i, "=", dan * i))
}

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [19]:
gugu <- function() {
  # 입력을 기다린다
  dan <- readline("단을 입력하세요: ")
  print(class(dan))
  dan <- as.integer(dan)
  for (i in seq(1, 9)) {
    cat(dan, "x", i, "=", dan * i, "\n")
  }
}

gugu()

단을 입력하세요: 8
[1] "character"
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

In [9]:
# 출력문에서 줄 바꿈을 하고 싶을 경우 cat 사용
for (i in seq(2, 9)) {
  cat(paste("\n=====", i, "단=====\n"))
  for (j in seq(1, 9)) {
    cat(paste(i, "x", j, "=", i * j, "\n"))
  }
}

===== 2 단=====
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

===== 3 단=====
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

===== 4 단=====
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

===== 5 단=====
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

===== 6 단=====
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

===== 7 단=====
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

===== 8 단=====
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

===== 9 단=====
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [11]:
sum <- 0
i <- 1

while (i <= 10) {
  sum <- sum + i
  i <- i + 1
}

sum

[1] 55

In [12]:
sum3 <- 0
i <- 1

# 탈출 조건을 직접 작성해야 함(선 실행 후 검사)
repeat {
  sum3 <- sum3 + i
  i <- i + 1

  if (i > 10)
    break
}

sum3

[1] 55

In [20]:
# 내장함수(Built-in Functions)
sqrt(5)
sqrt(c(1, 2, 3, 4, 5))

[1] 2.236068

[1] 1.000000 1.414214 1.732051 2.000000 2.236068

In [21]:
# 통계관련 함수
a = c(1, 2, 3, 4, 5, 6, 6, 7, 8)

# 통계량 정보
summary(a)

# 평균
mean(a)

# 중앙값
median(a)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  1.000   3.000   5.000   4.667   6.000   8.000

[1] 4.666667

[1] 5

In [22]:
# 에러 발생 - 함수 이름은 좌변에 작성해야 함
function hello() {
  print("hello")
}

ERROR: Error in parse(text = x, srcfile = src): <text>:2:10: 예상하지 못한 기호(symbol)입니다.
1: # 에러 발생 - 함수 이름은 좌변에 작성해야 함
2: function hello
            ^

In [23]:
# 리턴 값이 없는 함수
hello <- function() {
  print("hello")
}

hello()

[1] "hello"

In [24]:
# 리턴 값이 있고 인수가 없는 함수
test1 <- function() {
  x <- 10
  y <- 20
  return(x * y)
}

test1()

[1] 200

In [26]:
# 리턴 값이 있고 인수가 있는 함수
test2 <- function(x, y) {
  xx <- x
  yy <- y
  return(sum(xx * yy))
}

test2(10, 20)

[1] 200

In [27]:
# 함수 안에서 다른 함수를 호출
test3 <- function(x, y) {
  x3 <- x + 1
  y3 <- y + 1
  x4 <- test2(x3, y3)
  return(x4)
}

test3(9, 19)

[1] 200

In [28]:
# 함수의 계산 결과를 화면에 보이지 않고 변수에 대입하는 경우(invisible)
test4 <- function() {
  x <- 10
  y <- 10
  return(invisible(x * y))
  # return(x * y)
}

# 함수 호출. 결과는 화면에 보이지 않는다
test4()

# 함수의 리턴 값이 result 변수에 할당된다
result <- test4()

# 결과 값의 확인
result

[1] 100