In [1]:
# 벡터(Vector) 형식의 데이터를 선언한다.
no <- c(1, 2, 3, 4)
name <- c("Apple", "Banana", "Peach", "Berry")
prices <- c(500, 200, 200, 50)
qty <- c(5, 2, 7, 9)

In [2]:
# 벡터 형식의 데이터를 모아서 데이터 프레임 형식의 데이터로 구성
fruit <- data.frame(No = no, Name = name, Price = prices, QTY = qty)
fruit

  No Name   Price QTY
1 1  Apple  500   5
2 2  Banana 200   2
3 3  Peach  200   7
4 4  Berry   50   9

In [3]:
# 현재 선언된 변수 목록 확인
ls()

[1] "fruit"  "name"   "no"     "prices" "qty"

In [5]:
# no, name, fruit을 test.data 파일에 저장
save(no, name, fruit, file = "D:/data/R/test.dat")

# 저장된 파일을 확인, 에디터로는 읽을 수 없음

In [6]:
rm(fruit, no, name)   # 선언된 변수 삭제
ls()                  # no, name, fruit 변수 삭제 확인

[1] "prices" "qty"

In [7]:
load("D:/data/R/test.dat")  # 변수를 읽어옴
ls()                        # 변수 목록 확인

no
name
fruit

[1] "fruit"  "name"   "no"     "prices" "qty"

[1] 1 2 3 4

[1] "Apple"  "Banana" "Peach"  "Berry"

  No Name   Price QTY
1 1  Apple  500   5
2 2  Banana 200   2
3 3  Peach  200   7
4 4  Berry   50   9

In [14]:
# csv형(= 콤마로 구분된 자료형) 데이터를 읽어온다
x <- read.csv("D:/data/R/a.csv")
x

  id name   score
1 1  김철수 80
2 2  박철호 90
3 3  송기성 50

In [16]:
# 데이터 구조 확인
str(x)

'data.frame':	3 obs. of  3 variables:
 $ id   : int  1 2 3
 $ name : Factor w/ 3 levels "김철수","박철호",..: 1 2 3
 $ score: int  80 90 50

In [15]:
# CSV 파일에 헤더가 없는 경우
(xx <- read.csv("D:/data/R/b.csv", header = F))

# 헤더 추가
names(xx) <- c("id", "name", "score")
xx

  V1 V2     V3
1 1  김철수 80
2 2  박철호 90
3 3  송기성 50

  id name   score
1 1  김철수 80
2 2  박철호 90
3 3  송기성 50

In [11]:
# 파일에 저장할 데이터 만들기
no <- c(1, 2, 3, 4)
name <- c("Apple", "Banana", "Peach", "Berry")
prices <- c(500, 200, 200, 50)
qty <- c(5, 2, 7, 9)

# 벡터 형식의 데이터를 모아서 데이터 프레임 형식의 데이터로 구성
fruit <- data.frame(No = no, Name = name, Price = prices, QTY = qty)
fruit

# 데이터를 CSV로 저장
write.csv(fruit, file = "d:/data/R/fruit.csv")

  No Name   Price QTY
1 1  Apple  500   5
2 2  Banana 200   2
3 3  Peach  200   7
4 4  Berry   50   9

In [13]:
# 데이터를 배열 형태로 읽어 들임
# 공백문자, 탭, 줄 바꿈 등을 기준으로 단어 단위로 배열에 저장
# what = "자료형" 다양한 자료형이 섞여 있으면 what = "")
# UTF-8로 저장하지 말고 MS949(ANSI) 형식으로 저장
a <- scan("D:/data/R/test.txt", what = "")
a
a[4]

# a의 자료형(chr : character)
str(a)

# 데이터를 배열 형태가 아닌 데이터 프레임 형식으로 읽음
c <- read.table("D:/data/R/test.txt", header = T, sep = "\t")
c

 [1] "no"     "name"   "birth"  "11"     "조광수" "1980"   "22"     "김철수"
 [9] "1990"   "33"     "나상호" "2000"

[1] "11"

 chr [1:12] "no" "name" "birth" "11" "조광수" "1980" "22" "김철수" "1990" ...

  no name   birth
1 11 조광수 1980
2 22 김철수 1990
3 33 나상호 2000